.details{
    border: 50px;
    max-width: 350px;
    font-size: 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons{
    display: flex;
    font-size: 10px;
    width: 90%;
    padding: 5px;
    border-radius: 3px;
    margin: 20px 10px; 
    justify-content: space-between;
}

#Add{
    position: relative;   
    width: 80px;
    padding: 10px;
}

#update{
    position: relative;   
    width: 80px;
    padding: 10px 0 0 20px;
}
#back-button{
    position: relative;   
    width: 80px;
    padding: 10px;
}
.full {
    border: 2px solid black;
    width : 300px; 
    margin: 0 auto;
    background: white;
}  
.buttons button{
    flex-basis: 48%;
    background: rgb(31, 113, 244);
    color:wheat;
    height: 40px;
    border-radius: 5px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: 1s;
}
.back{
    padding: 0px 20px 0px 20px;
    transition: 0.1s;
}
.up {
    transition: 0.1s;
}
.add-money {
    transition: 0.1s;
}
p{
 margin-bottom: 0;
}
h1{
    margin: 0;
    padding: 0;
    background: rgb(168, 168, 255);
}
body{
    background: #29c2d6;
}

.back:hover{
    transform: scale(1.1);
}
.up:hover {
    transform: scale(1.1);
}
.add-money:hover {
    transform: scale(1.1);
}
