body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
.word {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 175px;
  }
  h2{
    text-align: center;
  }
  .current {
    margin-bottom: 20px;
  }
  .change {
    margin-bottom: 20px;

  }
  .confirm {
    margin-bottom: 20px;
  }
  
  input[type="curr-password"],
  input[type="conf-password"] {
    width: 95%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  input[type="new-password"]{
    width: 95%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }


.back{
        width: 100%;
        padding: 10px 50px 10px 50px;
        background: rgb(31, 113, 244);
        color:wheat;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        }

        .Set{
            width: 100%;
            padding: 10px 50px 10px 50px;
            background: rgb(31, 113, 244);
            color:wheat;
            border: none;
            border-radius: 3px;
            cursor: pointer;
             }
.buttons { 
        display: flex;
        font-size: 10px;
        width: 75%;
        padding: 0 35px 5px 35px;
        border-radius: 3px;
        margin: 20px 10px; 
        justify-content: space-between;
}

#Confirm{
  width: 140%;
}

#back-button{
  width: 140%;
}
body{
    background: #309bc5;
}

.back:hover{
    background: rgb(38, 96, 241);
}

.Set:hover{
    background: rgb(38, 96, 241);
}